body {
  background-color: rgba(130, 48, 161, 0.35);
  color: rgba(60, 77, 63, 1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0.3rem 1rem 0.3rem 1rem;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.2rem;
}

p {
  font-weight: 500;
}

.button {
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-size:13px;
	font-weight:530;
	padding:5px 5px;
	text-shadow:0px 1px 0px #ffffff;
}

.textinput {
  border-radius: 5px;
  background-color: #eae0c2;
}

header {
  color: rgba(122, 30, 100, 1);
  font-size: 2rem;
  font-weight: 700;
}

nav {
  padding: 0.5rem 0 0.5rem 0;
  text-align: center;
}

p,
header,
footer {
  text-align: justify;
}

footer p {
  color: rgba(29, 62, 9, 1);
  font-weight: 100;
  margin: 0 0 0 0;
}

.alignleft {
  float: left;
}
.alignright {
  float: right;
}

pre {
  padding-left: 3rem;
}

article section p strong {
  color: rgba(70, 16, 63, 1);
}

strong {
  color: rgba(122, 30, 100, 1);
}

figure {
  margin-left: 210px;
  max-width: 420px;
}

figcaption {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
}
